<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="XGlobalCtx Demo"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:allowBackup="false">

        <!-- 库内置 CtxAutoInitProvider 已自动初始化，demo 无需自定义 Application -->

        <activity
            android:name=".MainActivity"
            android:configChanges="uiMode|locale|layoutDirection"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ViewDemoActivity" android:exported="false" />
    </application>
</manifest>
